* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-color: radial-gradient(circle at top left, #7a0c0c, transparent 60%), radial-gradient(circle at bottom right, #5a0a0a, transparent 40%), linear-gradient(135deg, #000000, #120202);
    --primary-color: white;
    --secondary-color: #ff0000;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-div {
    min-height: 90vh;
    background: var(--main-color);
    border-bottom: 5px solid black;
}

header {
    width: 100%;
    margin-top: 15px;
    color: var(--primary-color);
    opacity: 0.8;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul li a {
    text-decoration: none;
    color: var(--primary-color);
    padding-left: 40px;
    transition: all 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    opacity: 0.8;
}

ul li a:hover {
    opacity: 1;
}

div a button {
    height: 35px;
    width: 80px;
    color: var(--primary-color);
    border: 1px solid var(--secondary-color);
    margin: 0px 20px 0px 0px;
    border-radius: 18px;
    background: transparent;
    cursor: pointer;
    opacity: 0.8;
}

.btn1 {
    background-color: var(--secondary-color);
    box-shadow: inset 2px 2px 15px black;
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

.btn1:hover {
    background-color: transparent;
    color: white;
}

.btn2 {
    transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

.btn2:hover {
    background-color: var(--secondary-color);
    color: white;
    box-shadow: inset 2px 2px 15px black;
}

h3,
h1 {
    color: var(--primary-color);
    opacity: 0.9;
}

strong {
    color: var(--secondary-color);
}

main {
    display: grid;
    grid-template: repeat(8, 1fr);
    gap: 40px;
    justify-content: center;
}

.text-section {
    grid-column: 1 / span 4;
    grid-row: 2 / span 5;
    margin: 0px 0px 0px 100px;
}

.image-section {
    position: relative;
    grid-column: 6 / span 8;
    grid-row: 1 / span 4;
    margin: 15px 0px 8px 250px;
}

main .image-section img {
    height: 400px;
    width: 400px;
    border-radius: 100px;
    filter: drop-shadow(0px 0px 15px var(--secondary-color));
}

a>i {
    display: inline-block;
    background-color: var(--secondary-color);
    color: black;
    font-size: 1.2rem;
    padding: 5px 5px 5px 5px;
    margin: 30px 20px 0px 0px;
    border-radius: 100%;
    transition: all 1.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

.social-icon1:hover {
    transform: scale(1.3) rotate(360deg);
    text-shadow: 2px 2px #fe2c55, -2px -2px #25f4ee;
    filter: drop-shadow(3px 4px 8px rgba(185, 183, 183, 0.8));
}

.social-icon2:hover {
    transform: scale(1.3) rotate(15deg);
    color: #1DA1F2;
    filter: drop-shadow(3px 4px 8px rgba(185, 183, 183, 0.8));
}

.social-icon3:hover {
    transform: scale(1.3) rotate(360deg);
    color: #1877F2;
    filter: drop-shadow(3px 4px 8px rgba(185, 183, 183, 0.8));
}

.social-icon4:hover {
    transform: scale(1.3) rotate(25deg);
    color: #25D366;
    filter: drop-shadow(3px 4px 8px rgba(185, 183, 183, 0.8));
}